<div class="card mb-5 mx-auto border-0 text-center" style="width: 20rem;">
  <div class="card-body">
    <h6 class="card-title">NERF - Núcleo de Ecologia de Rodovias e Ferrovias</h6>
    <p class="card-text">
      <i class="fa-solid fa-building-columns"></i> Universidade Federal do Rio Grande do Sul <br>
      <i class="fa-solid fa-map-location-dot"></i>
      Av. Bento Gonçalves, 9500, Caixa Postal 15007. <br>
      CEP 91501-907, Porto Alegre, RS, Brasil. <br>
      <i class="fa-solid fa-phone"></i>   +55 (51) 3308-6775 <br>
      <i class="fa-solid fa-at"></i>   nerf@ufrgs.br
    </p>
  </div>
</div>
