<div class="basic">
  <div class="container px-5">
    <div class="box py-1">
      <%= image_tag "siriema_logo", style: 'height:10vw;width:11vw;' %>
    </div>
    <h3>| Registro para download do software Siriema</h3>
      <p>
      Seu registro permite acompanhar o número de interessados e usuários pelo produto que estamos disponibilizando e nos ajuda a captar apoiadores para o contínuo aprimoramento do software.
      <br>
      <br>
      Após preencher o formulário e clicar em registrar você será direcionado automaticamente para a página de download do Siriema.
    </p>
    <br>
    <%= render partial: "form", siriema_user: @siriema_user %>
  </div>
</div>
