<div class="container">
  <h3>Sobre</h3>
  <p>
  O NERF - Núcleo de Ecologia de Rodovias e Ferrovias da Universidade Federal do Rio Grande do Sul (UFRGS) foi criado em 2011 com o objetivo de avaliar os efeitos de estradas sobre a biodiversidade e, sobretudo, desenvolver procedimentos e ferramentas amostrais e analíticas para serem adotadas nos licenciamentos destes empreendimentos.

  Nossa expectativa é qualificar o processo de decisão para reduzir os efeitos negativos destas infraestruturas e otimizar os recursos financeiros aplicados. O fortalecimento da cooperação com os órgãos de gestão ambiental e de planejamento dos empreendimentos viários, tanto federais como estaduais, também está entre os nossos objetivos.

  Além da pesquisa, atuamos na difusão dos conhecimentos produzidos organizando workshops e cursos de formação voltados para gestores, consultores ambientais e estudantes interessados no tema.
  </p>
</div>
