body {
  background-color: #F2F0EB;
  font-family: "Inter";
}

p, li {
  color: #534748;
  text-align: justify;
  font-size: 16px;
  margin: auto;
}

h1, h2, h3, h4, h5, h6 {
  margin: 30px 0px;
  font-weight: bold;
  color: #1B1918;
}

img {
  max-width: 100%;
  height: auto;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 48px 0px;
}

.box div {
  width: 80%;
}

.basic {
  margin-top: 120px;
}

strong {
  color: #1B1918;
}

a {
  color: #777900;
}

a:hover {
  color: red;
}
