.btn-nerf:hover {
  font-weight: bold;
  color: black;
  border: 2px solid black;
  border-radius: 5px;
  transition: background 0.2s ease;
  font-family: "Inter";
  cursor: pointer;
}

.btn-nerf {
  font-family: "Inter";
  font-weight: bold;
  opacity: 1;
}
