.card-body {
  flex: 1 1 auto;
  padding: 1rem 1rem;
  background: #F2F0EB;
}

.card-text {
  font-size: x-small;
  text-align: center
}

.card-title {
  font-size: x-small;
}

.card-footer {
  background: transparent;
  bottom: 0;
}
